<div id="myCarousel" class="carousel slide" style="width: 600px">
  <!-- Carousel items -->
  <div class="carousel-inner" style="width: 600px" >
    <div class="active item" ><img src="<%= image_path("cafe1.jpg")%>" ></div>
    <div class="item"><img src="<%= image_path("cafe2.jpg")%>" ></div>
    <div class="item"><img src="<%= image_path("cafe3.jpg")%>" ></div>
    <!--<div class="item">Текст 2</div>    -->
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<h4>Привет!!!</h4>
<p>Добро пожаловать наш сайт</p>